* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f2f2f2;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	color: #4d4f62;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
	padding: 8rem 3rem;
}

// Cards

.header {
	max-width: 540px;
	margin: 0 auto 8rem;
	text-align: center;

	&__title {
		font-size: 2.4rem;
		font-weight: 200;
	}
	&__subtitle {
		font-size: 2.4rem;
		font-weight: 600;
	}
	&__text {
		line-height: 2.4rem;
		opacity: 50%;
	}
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.card {
	padding: 3rem;
	background-color: #fff;
	border-radius: 0.8rem;
	line-height: 2.3rem;
	box-shadow: 0px 10px 20px rgba(76, 78, 97, 0.2);

	&__title {
		font-size: 2rem;
	}
	&__text {
		margin-top: 0.5rem;
		font-size: 1.3rem;
		opacity: 50%;
	}
	&__img {
		display: block;
		margin: 3.5rem 0 0 auto;
		width: 57px;
		height: 57px;
	}
	&--green {
		border-top: 3px solid #44d3d2;
	}
	&--red {
		border-top: 3px solid #ea5454;
	}
	&--orange {
		border-top: 3px solid #fcae4a;
	}
	&--blue {
		border-top: 3px solid #549ef2;
	}
}

// Media
@media (min-width: 767px) {
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 2rem;
	}
}
@media (min-width: 1024px) {
	.header {
		&__heading {
			font-size: 3.6rem;
		}
		&__subheading {
			font-size: 3.6rem;
		}
	}
	.cards {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'. team .'
			'supervisor team calculator'
			'supervisor karma calculator'
			'. karma .';
		gap: 3rem;
	}
	.card--green {
		grid-area: supervisor;
	}
	.card--red {
		grid-area: team;
	}
	.card--orange {
		grid-area: karma;
	}
	.card--blue {
		grid-area: calculator;
	}
}
